# PyAudio
pocketsphinx
SpeechRecognition
Django
djangorestframework
django-filter
djangorestframework-simplejwt
drf-nested-routers
pytest-django
django-cors-headers
markdown
drf_yasg
drf_spectacular
whitenoise
gunicorn
python-dotenv
django-countries
django-extensions
werkzeug
pyOpenSSL
rave-python
python-decouple
resend
django-environ
dj-rest-auth
django-allauth
six
pyttsx4
assemblyai
channels
cadquery