/* =============Mobile Styles====== */

/* ===============================
General Styles
================================== */
.dashboard-home {
  background: #d2d2d2;
}




/* =================================== 

======================================*/






/* ==================================
Grid - 2
===================================== */

.index-screen button {
  padding: 12px 24px;
  border-radius: 8px;
  background: #353639;
  color: #fff;
}

/* ****Grid 2 */
.grid-2 {
  height: 100%;
}

/* ==================================
***Index Screen**
Side Menu
===================================== */

.side-menu {
  background: #1b1b1c;
  border-radius: 8px;
  height: 100%;
}
.side-menu .bottom-section {
  border-top: 1px solid #353639;
}
.side-menu .initial {
  border-radius: 50%;
  line-height: 36px;
  text-align: center;
}
.side-menu button {
  width: 100%;
  text-align: initial;
}
.side-menu button.hide-scene,
.side-menu button.hide-scene span {
  position: relative;
}
.side-menu button.hide-scene span::before {
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  content: url(../../../public/assets/icons/scan-icon.svg);
}
.side-menu button.hide-scene::after {
  position: absolute;
  display: inline-block;
  top: 0;
  right: 25px;
  content: url(../../../public/assets/icons/arrow-down.svg);
  transform: translate(-0%, 50%);
}
.side-menu button.hide-scene.active::after {
  transform: translate(0%, 25%) rotate(180deg);
}

/* ==================================
***Index Screen**
Main Menu
===================================== */
.main-menu {
  /* display: flex; */
  height: 100%;
}
.main-menu .menu-contents {
  height: 100%;
}

/* Edit Features Section */
.main-menu .edit-bar {
  background: #1b1b1c;
  border-radius: 12px;
  padding: 10px 8px;
}
.main-menu .edit-bar .flex-item {
  display: inline-block;
  margin-left: 1rem;
}
.main-menu .edit-bar .ml-0 {
  margin-left: 0 !important;
}
.main-menu .edit-bar .flex-item + .flex-item {
  position: relative;
}
.main-menu .edit-bar .flex-item + .flex-item::before {
  position: absolute;
  top: 0;
  left: calc(-1rem - 3px);
  content: "";
  height: 18px;
  line-height: 18px;
  width: 3px;
  margin-left: 1rem;
  border-radius: 12px;
  background: #353639;
  transform: translate(-0%, 100%);
}
.main-menu .edit-bar .bar-item {
  min-width: 44px;
  /* min-height: 42px; */
  text-align: center;
  box-shadow: 0px 4px 4px 0px #00000040;
  background: #1e1f22;
  border-radius: 8px;
  cursor: pointer;
  display: inline-block;
  margin-left: 1rem;
  vertical-align: middle;
}
.main-menu .edit-bar .bar-item.gray-bg {
  background: #353639;
}

/* .main-menu .edit-bar .bar-item button + .bar-item button {
  border-left: 3px solid #353639;
  border-radius: 12px;
} */
.main-menu .edit-bar button {
  background: transparent;
  padding: 10px 12px;
}
.main-menu .edit-bar button.export-btn {
}

.main-menu .middle-section {
  /* border: 2px solid #d1d2e7; */
  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.15);
  height: 250px;
  border-radius: 8px;
}
.main-menu .middle-section > * {
  border-radius: inherit;
}
.main-menu .audio-speaker {
  border: 2px solid #00617f;
}
/* ===========Top Section========== */
.main-menu .audio-speaker .top-section {
  position: relative;
  z-index: 1;
  height: calc(124px - 54px);
  overflow: auto;
}
.main-menu .audio-speaker .top-section::-webkit-scrollbar {
  height: 5px;
  width: 4px;
}

.main-menu .audio-speaker .top-section::-webkit-scrollbar-thumb {
  background: #353639;
  border-radius: 12px;
}

/* ========Middle Section============= */

/* ========bottom Section============= */
.main-menu .audio-speaker .bottom-section {
  border-radius: 0 0 12px 12px;
  line-height: 45px;
}

/* ====================Desktop Styles============= */
@media (min-width: 980px) {
  /* ==================================
Grid - 2
===================================== */
  .grid-2 {
    display: grid;
    grid-template-columns: minmax(0, 275px) 1fr;
    /* grid-template-columns: fit-content(275px) 1fr; */
    gap: 1.2rem;
  }
  .grid-2 > * {
    /* border: 1px solid red; */
  }
  .main-menu {
    /* display: flex; */
    /* height:100%; */
  }
}
