/* This styles is written for the Authentication pages */
.auth-wrapper {
  background: linear-gradient(180deg, #0c0d0f 0%, #011532 74.29%);
  min-height: 100vh;
}
.auth-section {
  display: flex;
  /* height: 450px; */
  position: relative;
  background: linear-gradient(180deg, #0c0d0f 0%, #011532 74.29%);
  margin-bottom: 0 !important;
}

.auth-section h1,
.auth-section h2 {
  text-align: center;
}
.auth-section h1 {
  font-size: 1.5rem;
  text-transform: uppercase;
}
.auth-section h2 {
  font-size: 1.25rem;
  font-family: "Sailec Medium";
}
.auth-section .logo {
  margin-bottom: 8rem;
}
.auth-section input {
  background: #1c1f2580;
  border: 1px solid #353639;
}
.auth-section input::placeholder {
  font-size: 0.875rem;
  font-weight: 400;
}
.auth-section .auth-container {
  flex-basis: 72%;
  margin: auto;
}
.auth-section .btn-container {
  text-align: initial;
  margin-bottom: 1.5rem;
}
.auth-section .cta-btn {
  border-radius: 8px;
  background: #08101b;
  color: #fff;
  width: 100%;
}

.auth-section .cta-btn.google-btn {
  background: #0c8ce9;
}
.auth-section .cta-btn.google-btn span {
  position: relative;
}
.auth-section .cta-btn.google-btn span::before {
  position: absolute;
  top: 0;
  left: -24px;
  display: inline-block;
  content: url(../../public/assets/icons/google-icon.svg);
}
.animated-video {
  object-fit: cover;
  position: absolute;
  left: 0;
  width: 100%;
  /* top: 100%; */
}

/*=================================
 Desktop  Device
===================================*/
@media (min-width: 980px) {
  .auth-section h1 {
    font-size: 2.5rem;
  }
  .auth-section h2 {
    font-size: 2rem;
  }
  .auth-section input,
  .auth-section .cta-btn {
    /* width: 346px; */
  }
  .auth-section .auth-container {
    flex-basis: 48%;
  }
  .animated-video {
    top: 70%;
    z-index: -1;
  }
}
