.home-section {
  border: 1px slid red;
}

/* ***Hero section */
.hero-section h1,
.hero-section h5 {
  text-align: center;
}
.hero-section h5 {
  color: #808080;
  font-weight: 400;
}
.hero-section > * {
  margin-bottom: 2rem;
}


/* **Speaker Band Styles */
/* .speaker-band .box{
border:a;
} */